body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
    
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #fecha-hora {
    text-align: right;
    color: white;
    padding: 14px 16px;
    margin: auto;
  }

  #pie {
    text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"], input[type="mail"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #1ac8ce;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #0ec6d3;
}

label[for="busqueda"] {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  display: inline-block;
  width: 60px;
  text-align: right;
  border-color: #333;
  border: 1px;
}

input[type="text"]#busqueda {
  border: 1px solid black; /* Agregar borde negro */
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
.panel-inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1000px;
}

.panel-box {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  text-align: center;
  background-color: #f5f5f5;
  opacity: 0.6;
}



